section.about {
  overflow: hidden;
  min-height: fit-content;
  width: 100%;
  padding-bottom: 20px;
  background: url('/assets/border01.png');
}

section.about h2 {
  width: fit-content;
  font-family: var(--secondaryFont);
  text-transform: capitalize;
  background: var(--gradianColor);
  -webkit-background-clip: text;
  color: transparent;
  margin: 0px auto;
  margin-top: 50px;
}

.skillSection {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  place-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 60px;
}

.skillSection .item {
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('/assets/bg-1.png') no-repeat;
  background-size: contain;
  background-position: center;
  padding: 20px;
}

.skillSection .item img {
  width: 50%;
  margin-top: 10px;
}

.skillSection .item h3 {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 10px;
}

.skillSection .item h1 {
  font-size: 3.5rem;
  margin-top: 10px;
  font-weight: 700;
  text-shadow: 1px 1px 5px #e9dfff6b, -2px -2px 5px #ffffff63;
}


/* 
responsive size
1360
1260
1060
900
500
450
375
345
*/

/* responsive section */
@media screen and (max-width: 1360px) {
  .skillSection {
    grid-template-columns: repeat(5,1fr);
  }
}

/* responsive section */
@media screen and (max-width: 1260px) {
  .skillSection {
    grid-template-columns: repeat(4,1fr);
  }
}

/* responsive section */
@media screen and (max-width: 900px) {
  .skillSection {
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
  }

  .skillSection .item {
    width: 150px;
  }
}

/* responsive section */
@media screen and (max-width: 500px) {
  .skillSection {
    gap: 20px;
  }

  .skillSection .item {
    width: 100px;
    height: 150px;
  }
}