/* font style incloud */
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* DAHK THEME STYLE */
[DATA-THEME="LITE"] {
  /* Default style for dark theme */
  background: #ebebeb;
  font-family: "Poppins", sans-serif;
  font-weight: 400;

  /* bankground colod */
  --primaryBackground: #ecebeb;
  --secondaryBackground: #ffffff;

  /* Text Color */
  --primaryColor: #353535;
  --secondaryColor: #8892ff;
  --gradentColor: linear-gradient(to right, #8892ff, #ecebeb);

  /* font style */
  --primaryFont: "Poppins", sans-serif;
  --secondaryFont: "Libre Caslon Text", serif;
}

body::-webkit-scrollbar {
  display: none;
}

#wrap {
  width: 1260px;
  margin: auto;
  background: var(--secondaryBackground);
  padding: 20px 50px;
  border-radius: 5px;
  margin-top: 20px;
}