.categoryForm {
    background: var(--secondaryBackground);
    padding: 10px;
    position: absolute;
    top: -170px;
    right: 0px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.322);
    transition: 1s;
}