section#experience {
  min-height: 700px;
  width: 100%;
  background: url('/assets/border01.png');
  padding-top: 100px;
}

section#experience h2 {
  position: relative;
  width: fit-content;
  font-family: var(--secondaryFont);
  text-transform: capitalize;
  background: var(--gradianColor);
  -webkit-background-clip: text;
  color: transparent;
}

section#experience .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  width: 50%;
  margin: 50px auto;
}

section#experience .content .line {
  width: 10px;
  height: 100%;
  background: var(--primaryColor);
  position: relative;
}

section#experience .content .line::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: -5px;
  left: -10px;
  height: 25px;
  width: 25px;
  background: var(--primaryColor);
}

section#experience .content .line::before {
  content: var(--years);
  position: absolute;
  top: 0;
  left: -150px;
  font-size: 2rem;
  text-wrap: nowrap;
}

section#experience .content h3 {
  width: 100%;
  font-family: var(--secondaryFont);
  font-size: 2rem;
  margin: 0px 25px;
}

section#experience .content h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 10px 25px;
  font-weight: 400;
}

section#experience .content ul li {
  width: 100%;
  font-size: 1.5rem;
  opacity: 0.6;
  margin: 0px 25px;
  font-weight: 200;
  line-height: 25px;
}

/* 
responsive size
1360
1260
1060
900
500
450
375
345
*/

/* responsive section */
@media screen and (max-width: 500px) {
  section#experience .content {
    width: 350px;
  }

  section#experience .content .line::before {
    top: -30px;
    left: -40px;
  }
}

/* responsive section */
@media screen and (max-width: 450px) {
  section#experience .content {
    width: 300px;
  }

  section#experience .content .line::before {
    top: -30px;
    left: -0px;
  }

  section#experience .content h3 {
    margin: 0px 20px;
  }

  section#experience .content h4 {
    margin: 10px 20px;
  }

  section#experience .content p {
    margin: 0px 20px;
  }
}

/* responsive section */
@media screen and (max-width: 375px) {
  section#experience .content {
    width: 250px;
  }

  section#experience .content .line::before {
    top: -30px;
    left: -0px;
  }
}