section#homePage {
  height: fit-content;
  width: 100%;
}

.homeSection {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homeSection .linkGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 2rem;
  text-transform: capitalize;
  margin-top: 100px;
  color: rgb(224, 218, 218);
  font-family: "anitipasto-bold";
}

.homeSection ul {
  gap: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

.homeSection ul li {
  font-size: 1.5rem;
  list-style: circle;
  text-transform: uppercase;
  user-select: none;
}

.homeSection h4 {
  font-size: 5rem;
  text-transform: uppercase;
  font-family: var(--secondaryFont);
  user-select: none;
  width: 60%;
  text-align: center;
  margin-top: 20px;
}

.Portfolio {
  padding: 0px 50px 50px 50px;
  background: rgb(25, 24, 29);
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-top: 100px;

  & h1 {
    font-size: 8rem;
    text-align: start;
    width: 100%;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top: 100px;
  }

  .itemGroup {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 50px;
    margin-top: 20px;
  }

  .itemGroup .item {
    max-height: 500px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    outline: 10px solid var(--borderColor);
    transition: transform 0.2s;
    position: relative;
  }

  .itemGroup .portfolioButtom {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
  }

  .itemGroup .portfolioButtom h3 {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    cursor: default;
  }

  .playVideoIcons,
  .pauseVideoIcons {
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .itemGroup video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .itemGroup div button {
    height: 45px;
    width: 200px;
    background: transparent;
    border-radius: 30px;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: 0.5s;
  }

  .itemGroup div button:hover {
    background: #7260607a;
    border: none;
  }

  .itemGroup div button a {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    gap: 10px;
  }

  .itemGroup div button a svg {
    transform: rotate(-45deg);
    font-size: 2rem;
  }

  .itemGroup .item:hover {
    transform: scale(0.95);
  }

  .itemGroup .item img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .itemGroup .item video {
    width: 100%;
    object-fit: fill;
  }
}

.findSection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-top: 50px;
}

.findSection .item {
  border: 2px solid #353434;
  border-top: none;
  border-right: none;
  height: 100px;
}

.findSection .item:hover {
  background: rgb(55, 209, 101);
}

.findSection .item .content {
  border: 2px solid #353434;
  width: 100%;
  height: 100%;
  display: flex;
  background: rgb(25, 24, 29);
  justify-content: space-between;
  align-items: center;
  margin: -10px 0px 0px 10px;
  padding: 10px;

  & svg {
    font-size: 3rem;
    opacity: 0.5;
  }

  & h5 {
    margin: 10px 0px;
    font-size: 2.5rem;
    text-align: end;
    text-transform: capitalize;
  }

  & p {
    font-size: 1.5rem;
    opacity: 0.5;
    margin: 10px 0px;
    text-align: end;
  }
}

.collaborate {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;

  & p {
    font-size: 2.5rem;
    opacity: 0.5;
  }

  & a {
    font-size: 10rem;
  }
}

footer {
  width: 100%;
  border-top: 2px solid #353434;
  padding: 50px 50px;

  & h1 {
    font-size: 3rem;
  }

  & .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
  }

  & .content div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  & .content a {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.5;
  }
  & p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    opacity: 0.5;
  }
}

/* 
responsive size
1360
1260
1060
900
500
450
375
345
*/

/* responsive section */
@media screen and (max-width: 1400px) {
  .homeSection h4 {
    font-size: 4.5rem;
    width: 80%;
  }
}

/* responsive section */
@media screen and (max-width: 900px) {
  .homeSection ul {
    gap: 20px;
  }

  .homeSection .linkGroup {
    margin-top: 50px;
  }

  .Portfolio {
    .itemGroup {
      grid-template-columns: repeat(1, 1fr);
    }
    .itemGroup div button {
      width: 150px;
    }
  }

  .findSection {
    grid-template-columns: repeat(2, 1fr);
  }

  .collaborate {
    & a {
      font-size: 7rem;
    }
  }

  footer {
    padding: 50px 10px;
  
    & .content {
      grid-template-columns: repeat(1, 1fr);
    }
  
    & .content div {
      margin-bottom: 15px;
    }
  
    & .content a {
      font-size: 2rem;
    }
    & p {
      font-size: 2rem;
    }
  }
  
}

/* responsive section */
@media screen and (max-width: 500px) {
  .homeSection h4 {
    font-size: 4.5rem;
    width: 98%;
  }

  .Portfolio {
    padding: 0px 30px 30px 30px;
  }

  .findSection {
    grid-template-columns: repeat(1, 1fr);
  }
}
