section#homePage {
  height: fit-content;
  width: 100%;
}

.homeSection {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homeSection .linkGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 2rem;
  text-transform: capitalize;
  margin-top: 100px;
  color: rgb(224, 218, 218);
  font-family: "anitipasto-bold";
}

.homeSection ul {
  gap: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

.homeSection ul li {
  font-size: 1.5rem;
  list-style: circle;
  text-transform: uppercase;
  user-select: none;
}

.homeSection h4 {
  font-size: 5rem;
  text-transform: uppercase;
  font-family: var(--secondaryFont);
  user-select: none;
  width: 60%;
  text-align: center;
  margin-top: 20px;
}

.Portfolio {
  padding: 0px 50px 50px 50px;
  background: rgb(25, 24, 29);
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-top: 100px;

  & h1 {
    font-size: 8rem;
    text-align: start;
    width: 100%;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top: 100px;
  }

  .itemGroup {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 50px;
    margin-top: 50px;
  }

  .itemGroup .item {
    background-color: rgb(51, 48, 48);
    max-height: 500px;
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    outline: 5px solid var(--borderColor);
    position: relative;
    cursor: pointer;
  }

  .itemGroup .item img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    transition: transform 0.2s;
  }

  .itemGroup .item:hover {
    transform: translateY(-2px);
  }
}

.findSection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-top: 50px;
}

.findSection .item {
  border: 2px solid #353434;
  border-top: none;
  border-right: none;
  height: 100px;
}

.findSection .item:hover {
  background: rgb(55, 209, 101);
}

.findSection .item .content {
  border: 2px solid #353434;
  width: 100%;
  height: 100%;
  display: flex;
  background: rgb(25, 24, 29);
  justify-content: space-between;
  align-items: center;
  margin: -10px 0px 0px 10px;
  padding: 10px;

  & svg {
    font-size: 3rem;
    opacity: 0.5;
  }

  & h5 {
    margin: 10px 0px;
    font-size: 2.5rem;
    text-align: end;
    text-transform: capitalize;
  }

  & p {
    font-size: 1.5rem;
    opacity: 0.5;
    margin: 10px 0px;
    text-align: end;
  }
}

.collaborate {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;

  & p {
    font-size: 2.5rem;
    opacity: 0.5;
  }

  & a {
    font-size: 10rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;

    & svg {
      font-size: 6rem;
    }
  }

  & ::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: -10px;
    height: 4px;
    width: 0%;
    background: #ffffff;
    transition: width 0.3s ease-in-out;
    border-radius: 10px;
  }

  & :hover::after {
    width: 100%;
  }
}

footer {
  width: 100%;
  border-top: 2px solid #353434;
  padding: 50px 50px;

  & h1 {
    font-size: 3rem;
  }

  & .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
  }

  & img {
    width: 150px;
  }

  & .content div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  & .content div:nth-child(2){
    text-align: center;
  }

  & .content div:nth-child(3){
    text-align: right;
  }

  & .content a {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.5;
  }
  & p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    opacity: 0.5;
  }
}

/* 
responsive size
1360
1260
1060
900
500
450
375
345
*/

/* responsive section */
@media screen and (max-width: 1400px) {
  .homeSection h4 {
    font-size: 4rem;
    width: 80%;
  }
}

/* responsive section */
@media screen and (max-width: 900px) {
  .homeSection ul {
    gap: 20px;
  }

  .homeSection .linkGroup {
    margin-top: 50px;
  }

  .Portfolio {
    & .itemGroup {
      grid-template-columns: repeat(2, 1fr);
    }
    
    & .itemGroup div button {
      width: 120px;
    }
  }

  .findSection {
    grid-template-columns: repeat(2, 1fr);
  }

  .collaborate {
    & a {
      font-size: 7rem;
    }
  }

  footer {
    padding: 50px 10px;

    & h1 {
      font-size: 3rem;
      text-align: center;
    }

    & .content {
      grid-template-columns: repeat(1, 1fr);
    }

    & .content div {
      margin-bottom: 15px;
    }

    & a {
      text-align: center;
    }

    & img {
      width: 200px;
      text-align: center;
      margin-bottom: 50px;
    }

    & .content div:nth-child(2){
      text-align: center;
    }
  
    & .content div:nth-child(3){
      text-align: center;
    }

    & .content a {
      font-size: 2rem;
    }
    & p {
      font-size: 2rem;
    }
  }
}

/* responsive section */
@media screen and (max-width: 500px) {
  .homeSection h4 {
    font-size: 4.5rem;
    width: 98%;
  }

  .Portfolio {
    padding: 0px 30px 30px 30px;

    & .itemGroup {
      grid-template-columns: repeat(1, 1fr);
    }
    & .itemGroup div button {
      width: 120px;
    }
  }

  .findSection {
    grid-template-columns: repeat(1, 1fr);
  }

  .collaborate {
    gap: 50px;

    & a {
      font-size: 5rem;
      gap: 10px;

      & svg {
        font-size: 3rem;
      }
    }
  }
}
