section#projectSection {
  min-height: 100vh;
  background: url("/assets/border01.png");
  overflow-x: hidden;
  padding-bottom: 50px;
}

.filter {
  width: 100%;
  padding: 20px 20px;
  border-radius: 10px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primaryBackground);
  margin-top: 100px;
}

.filter ul {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.filter ul li {
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 5px 10px;
  color: var(--PBC);
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--PBC);
  border-radius: 10px;
}

.filter .scarch input {
  height: 35px;
  max-width: 300px;
  width: 300px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.301);
  outline: none;
  padding: 0px 20px;
  font-size: 1.8rem;
}

.projectDisplay {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 50px;
  padding: 0px 20px;
  border-radius: 0px 0px 20px 20px;
  min-height: 300px;
  margin-top: 20px;
}

/* 
responsive size
1360
1260
1060
900
500
450
375
345
*/

/* responsive section */
@media screen and (max-width: 1760px) {
  .projectDisplay {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* responsive section */
@media screen and (max-width: 1360px) {
  .projectDisplay {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* responsive section */
@media screen and (max-width: 900px) {
  section#projectSection {
    background-size: 200%;
  }

  .projectDisplay {
    grid-template-columns: repeat(2, 1fr);
  }

  .filter {
    width: 100%;
    gap: 20px 0px;
    flex-direction: column;
  }

  .filter ul {
    width: 100%;
  }

  .filter .scarch {
    width: 100%;
  }

  .filter .scarch input {
    width: 100%;
  }
}

/* responsive section */
@media screen and (max-width: 500px) {
  .projectDisplay {
    grid-template-columns: repeat(1, 1fr);
  }
}
