section#projectSection {
  min-height: 100vh;
  background: url("/assets/border01.png");
  padding-top: 100px;
}

.filter {
  width: 100%;
  padding: 20px 20px;
  border-radius: 10px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primaryBackground);
}

.filter ul {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.filter ul li {
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 5px 10px;
  color: var(--PBC);
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--PBC);
  border-radius: 10px;
}

.filter .scarch input {
  height: 35px;
  max-width: 300px;
  width: 300px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.301);
  outline: none;
  padding: 0px 20px;
  font-size: 1.8rem;
}

.projectDisplay {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  gap: 50px;
  padding: 0px 20px;
  border-radius: 0px 0px 20px 20px;
  min-height: 300px;
  margin-top: 20px;
}

.card {
  height: 210px;
  width: 290px;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.219),
    -1px -3px 5px rgba(0, 0, 0, 0.144);
  position: relative;
  outline: 5px solid var(--borderColor);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
}

.content {
  position: absolute;
  bottom: 0%;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(#ffffff00 10%, #000000de 50%);
  padding: 10px 15px;
  border-radius: 20px;
}

.content div:nth-child(1) {
  width: 90%;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.content div:nth-child(2) {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  & div {
    position: absolute;
    bottom: 100%;
    left: 100%;
    background: rgb(236, 236, 236);
    height: 100px;
    width: 50px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px;
    display: none;

    & button {
      border: none;
      outline: none;
      background: unset;
    }
  }
}

.content div:nth-child(2) .active {
  display: flex;
}

.content div:nth-child(2) svg {
  font-size: 2rem;
  cursor: pointer;
}

.content h1 {
  color: var(--PBC);
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.5rem;
}

/* 
responsive size
1360
1260
1060
900
500
450
375
345
*/

/* responsive section */
@media screen and (max-width: 1360px) {
  .projectDisplay {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* responsive section */
@media screen and (max-width: 1060px) {
  .card {
    height: 200px;
    width: 240px;
  }
}

/* responsive section */
@media screen and (max-width: 900px) {
  .projectDisplay {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    height: 230px;
    width: 270px;
  }

  .filter {
    width: 100%;
    gap: 20px 0px;
    flex-direction: column;
  }

  .filter ul {
    width: 100%;
  }

  .filter .scarch {
    width: 100%;
  }

  .filter .scarch input {
    width: 100%;
  }
}

/* responsive section */
@media screen and (max-width: 500px) {
  .projectDisplay {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    height: 220px;
    width: 100%;
  }

  .content h1 {
    font-size: 2rem;
  }
}

/* responsive section */
@media screen and (max-width: 375px) {
  .card {
    height: 190px;
  }

  .content h1 {
    font-size: 2.5rem;
  }
}
