section#dashBord {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  background: var(--primaryBackground);
}

#dashBord .content {
  background: var(--secondaryBackground);
  border-radius: 10px;
  position: relative;
}

.content h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
  user-select: none;
}

div.filterSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.068),
    -2px -2px 5px rgba(0, 0, 0, 0.068);
  padding: 8px 10px;
  border-radius: 10px;
  position: relative;
  background: #fff;
}

div.filterSection input {
  height: 35px;
  width: 300px;
  padding: 0px 10px;
  margin: 0px 20px;
  outline: none;
  border-radius: 10px;
}

.content button.projectCreate,
.filter button {
  padding: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  background: var(--secondaryColor);
  border: none;
  outline: none;
  color: var(--primaryBackground);
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
