.ErrorPage {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ErrorPage img {
    max-width: 500px;
}

.ErrorPage button {
    background: none;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--ICC);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
}

/* 
responsive size
1360
1260
1060
900
500
450
375
345
*/

/* responsive section */
@media screen and (max-width: 900px) {
    .ErrorPage img {
        max-width: 400px;
    }
}

/* responsive section */
@media screen and (max-width: 500px) {
    .ErrorPage img {
        max-width: 300px;
    }
}